.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.container h1 {
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
}
.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 10px;
}


.top-bar input {
    width: 326px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    color: white;
    font-size: 100px;
    font-weight: 300;
}

.weather-location {
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.data-container {
    margin-top: 37px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
}